<!DOCTYPE html>
<html>
<head>
<title> Memory parameter estimation</title>
</head>

<style> 
    body {
      background-color: #cccccc;
      background-image: linear-gradient(to right, white, rgba(55,150,0,1));
    }
    html {min-height: 100%;}
    img {
        border: 1px solid black
        }
</style>

<body text='black'>
<h1>
<b>
<i>
<font size=15>
Test model for ARFIMA alpha prediction
</font>
</i>
</b>
</h1>
<div style="background-color:black">
<hr>
<hr></div>
<h2> This is a simple webapp to learn model deployment. Your first input is the memory parameter of an ARFIMA model, alpha. It takes values between  -0.5 and 0.5. The second value is the length of ARFIMA to generate, which must be an integer greater than 1. After entry, a recurrent neural network, specifically an LSTM will attempt to estimate alpha from the generated time-series.</h2>
<h4> 

<form action="{{url_for('predict')}}" method="post">
    <p> Alpha : <input type='text' name='Alpha' placeholder='-0.5 to 0.5' required='required' />
    <p> Time-series length : <input type='text' name='tsl' placeholder='Integer N steps to gen.' required='required' />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>


<img src = "data:image/png;base64, {{ figure_to_print }}" >

</h4>
<h2>
<b>
{{ prediction_text }}
</b>
</h2>
</body>
</html>
