<!DOCTYPE html>
<html>
<head>
<title> Memory parameter estimation</title>
</head>

<body bgcolor='black' text='white'>
<h1>
<b>
<i>
<font size=15>
Test model for ARFIMA alpha prediction
</font>
</i>
</b>
</h1>
<div style="background-color:white">
<hr>
<hr></div>
<h2> Enter a memory parameter youd like to simulate and evaluate (the value must be between -0.5 and 0.5!)</h2>
<h4> 

<form action="{{url_for('predict')}}" method="post">
    <p> Alpha : <input type='text' name='Alpha' placeholder='Enter the alpha to be used in ARFIMA simulation, value must be between -0.5 and 0.5.' required='required' />
    <p> Time-series length : <input type='text' name='tsl' placeholder='Enter the number of time-points to be generated based on your alpha. Must be positive integer' required='required' />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>


<img src = "data:image/png;base64, {{ figure_to_print }}" >

</h4>
<h2>
<b>
{{ prediction_text }}
</b>
</h2>
</body>
</html>
